body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #003153;
  color: #fff;
  padding: 1em;
  text-align: center;
}

main {
  padding: 2em;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 2em 0;
}

table, th, td {
  border: 1px solid #003153;
}

th, td {
  padding: 0.5em;
  text-align: left;
}

th {
  background-color: #003153;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
